<%= form_for @bookmarker, remote: true, :html => {:class => 'form-horizontal'} do |f| %>
    <div id="error_explanation">
    </div>
    <br>
    <fieldset>
      <div class="form-group">
        <%= f.label :title , class: 'col-md-4 control-label', for: 'textinput' %>
        <div><%= f.text_field :title, placeholder: 'title', class: 'form-control input-md' %></div>
      </div>
      <div class="form-group">
        <%= f.label :url, class: 'col-md-4 control-label', for: 'textarea'%><br>
        <div><%= f.text_area :url, class: 'form-control' %></div>
      </div>
      <div class="form-group">
        <label class="control-label" for="singlebutton"></label>
        <div>
          <div class="actions">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </fieldset>
<% end %>