<%= render 'home/user' %>
<section class="jumbotron text-center">
  <div class="container">
    <%= link_to 'Add Bookmark',
                (new_bookmarker_path if current_user),
                class: 'btn btn-primary btn-lg',
                remote: true,
                'data-toggle' => "modal",
                'data-target' => '#modal-window' %>
  </div>
</section>

<div id="friends-button"><%= link_to 'Friends bookmarks', friends_list_url, :class => 'btn btn-success btn-lg' %></div>

<%= form_tag(bookmarkers_path, method: :get, role: 'form') do %>
    <div class='row'>
      <div class="col-lg-6 offset-lg-3">
        <div class="input-group">
          <%= text_field_tag :term, params[:term], placeholder: 'Search for...', class: 'form-control' %>
          <span class="input-group-btn">
            <%= submit_tag 'Search', class: 'btn btn-secondary' %>
          </span>
        </div>
      </div>
    </div>
<% end %>
</br>