<% if user_signed_in? %>
    <%= render 'home/user' %>
    <div class="container-fluid">

      <main role="main">

        <% if current_user.uid == params[:uid] %>
            <%= render 'navbar'  %>
        <% else %>
            <div class="friends-title"><h2><%= @usr.name %>'s  bookmarks</h2></div>
        <% end %>
        <div>
          <%= form_tag bookmarkers_path(uid: params[:uid]), method: :get, id: 'limit_form', remote: true do %>

              <div id="select-cards" class="select-tag">
                Show
                <%= select_tag :limit,
                               options_for_select([4, 8, 12, 16, 20], selected: params[:limit] || 8),
                               class: 'custom-select',
                               onchange: "$('#limit_form').submit();" %>
                items per page
              </div>

              <div id="bookmarkers_cards">
                <%= render 'bookmarkers_cards'%>
              </div>
          <% end %>
        </div>

      </main>
<% else %>
    <%= render 'home/login' %>
<% end %>
</div>
