<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <p id="notice" role="alert"><%= notice %></p>
        <p>
          <strong>Title:</strong>
        <h2 class="blog-post-title"><%= @bookmarker.title %></h2>
        </p>

        <p>
          <strong>URL:</strong><br>
          <%= link_to @bookmarker.url, @bookmarker.url %>
        </p>
        <div class="side-crop">
          <%= image_tag @bookmarker.snapshot.url, width: '300'%>
        </div>
        </br>
        <p class="blog-post-meta">
          <strong>Created by: </strong><%= @bookmarker.user.name %>
        </p>
      </div>
      <%= link_to 'Back', bookmarkers_path, :class => 'btn btn-default btn-sm' %>

    </div>
  </div>
</div>
